{% extends 'main/base.html' %}

{% block content %}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">اضافة نشاط</h3> <hr>
              <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
            
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input name="activityName" type="text"  class="form-control form-control-lg" required/>
                      <label class="form-label" > اسم النشاط</label>
                    </div>
            
                   
                    <div class="form-outline">
                      
                      <select style="text-align: center;"  name="activity_in_out" class="form-select" aria-label="Default select example">
                        
                          <option selected> </option>
                          <option value="inside">داخلي</option>
                          <option value="outside">خارجـي </option>
                          
                        </select>
                        <label class="form-label" >     موقع النشاط            </label>
                       
                    </div>
            
                  </div>
                  <div class="col-md-6 mb-4">
            
                    <div class="form-outline">
                      <input name="activity_location" type="text"  class="form-control form-control-lg" required/>
                      <label class="form-label" > موقع التنفيذ</label>
                       
                    </div>

                    <div class="form-outline">
           
                      <select style="text-align: center;" name="activity_type" class="form-select" aria-label="Default select example">
                        
                          <option selected>  </option>
                          <option value="Type_one_active">نشاط</option>
                          <option value="Type_two_courses">دورة </option>
                          <option value="Type_three_mandate">انتداب </option>
                          
                        </select>
                        <label class="form-label">تصنيف النشاط </label>
                  </div>
            
                  </div>
                  <div class="col-md-3 mb-4 ">
              
                    <div class="form-outline">
                        <input placeholder="اليوم"  name="hijridaystart" type="number" class="form-control form-control-lg" min="1" max="31"  />
                        <input placeholder="الشهر"  name="hijrimonthstart" type="number" class="form-control form-control-lg" min="1" max="12"  />
                        <input placeholder="السنة"  name="hijriyearstart" type="number" class="form-control form-control-lg" min="1400" max="1460"  />
                      <label  class="form-label"> تاريخ البداية</label>
              
                    </div>
                
              
                  </div>
                  <div class="col-md-3 mb-4 ">
                    <div class="form-outline">
                      <input  placeholder="اليوم" name="hijridayend" type="number" class="form-control form-control-lg" min="1" max="31"  />
                      <input placeholder="الشهر" name="hijrimonthend" type="number" class="form-control form-control-lg" min="1" max="12" />
                      <input placeholder="السنة" name="hijriyearend" type="number" class="form-control form-control-lg" min="1400" max="1460" />
                    <label  class="form-label">تاريخ النهاية</label>
                  </div>
                   
              </div>
              <div class="col-md-6 mb-4 ">
              
                <div class="form-outline">
                  <select id="yesno" style="text-align: center;" name="is_there_any_additional_activity" class="form-select" aria-label="Default select example">
                        
                    
                    <option selected value="0">لا يوجد </option>
                    <option value="1">اضافة نشاط  </option>
                   
                    
                  </select>
                  
                  <label class="form-label" for="yesno">هل تريد اضافة نشاط آخر في نفس الفتره</label>

                  <div id="textAreaContainer" style="display: none;">
                  <textarea name="the_additional_task" class="form-control" placeholder="تفاصيل النشاط " id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                </div>
            
          
              </div>
                </div>
            
               
               
                <hr>
            
            
            
                <div class="mt-4 pt-2">
                  <input class="btn btn-success btn-lg" type="submit" value="اضافة نشاط " />
                </div>
            
              </form>
  
    
  </div>
  </div>
  </div>
  </div>
  </section>
  <script>
    const select = document.getElementById('yesno');
    const textAreaContainer = document.getElementById('textAreaContainer');
  
    select.addEventListener('change', function () {
      if (select.value === '1') {
        textAreaContainer.style.display = 'block';
      } else {
        textAreaContainer.style.display = 'none';
      }
    });
  </script>

  <script>
    {% if messages  %}
    {% for i in messages %}
  
    Swal.fire({
    
    icon: 'error',
    title: '{{i}}',
    showConfirmButton: false,
    timer: 1500
  })
    
       
  {% endfor %}
  
  {% endif %}
    
  </script>

{% endblock %}