{% extends 'main/base.html' %}

{% block content %}
<div class="container">
<h1>حذف نشاط</h1>
{{assign_activity}}
<div class="alert alert-danger" role="alert">
  {% if assign_activity.activity_type == 'Type_three_mandate' and assign_activity.activity_tack_action == 1%}
    <h3>  هل أنت متأكد من عملية الحذف ؟</h3>
    <p>ملاحظه : هذا النشاط مربوط بالانتدابات للموظف , في حالة الحذف سيتم حذفه ثلقائيا من قائمة انتدابات الموظف</p>
    {% elif assign_activity.activity_type == 'Type_two_courses' and assign_activity.activity_tack_action == 1 %}
    <h3>  هل أنت متأكد من عملية الحذف ؟</h3>
    <p>ملاحظه : هذا النشاط مربوط بالسجل التدريبي للموظف , في حالة الحذف سيتم حذفه ثلقائيا من قائمة السجل التدريبي الموظف</p>
    {% else %}
    <h3>  هل أنت متأكد من عملية حذف النشاط ؟</h3>
    {% endif %}
  </div>

<form action="" method="post" >
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>

    </form>
    
</div>


{% endblock %}