{% load static %}
<!DOCTYPE html>
<html lang="Arabic">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @font-face {
          font-family: 'Arabic';
          src: url('{% static "website/fonts/Amiri-Regular.ttf" %}') format('truetype');
        }
        body {
          font-family: 'Arabic', sans-serif;
        }
      </style>
    <title>Document</title>
</head>
<body>
    <h2>hi</h2>
    <h1>السالسستا</h1>
</body>
</html>