{% extends 'main/base.html' %}
{% load static %}
{% block content%}



 <br>
 <br>
 <br> 


  <!-- Search Function using JavaScript -->
    <div class="container-lg" >
      
      <label for=""><h5>البحث:</h5></label>
      <i class="bi bi-search"></i>
      <input style=" width: 300px; margin-left: 80px;" type="text" onkeyup="searchFunction()" class=" form-control rounded " aria-describedby="search-addon"  aria-label="Search" id="search" placeholder="  الرتبة او الاسم أو رقم الموظف ">
      <a style=" display: none; text-decoration: none;" id="if-not"  href=""> <i style="  font-size: 20px; color: #333;" class="bi bi-x-circle"> اعادة التعيين</i> </a>
      <span style=" margin-top: 20px; font-size: 1.0em;" id="no-data" class="badge bg-danger"></span>
   
    <span> عدد الموظفين : {{number_of_employee}}</span>
  </div>

  <!-- end of the search funstion -->
  <div style="overflow-y: auto; overflow-x: hidden; height: 400px;">
    <table  dir="rtl" id="myTable" class="rwd-table">
  
      <tbody>
       
          <tr id="chk-th">
            <th>الاسـم</th>
            <th>الوظيفة</th>
            <th>الرتبة / المرتبة </th>
           
            
            <th>التحكـم</th>
          </tr>
        
        {% for i in all_emp %}
       
          <tr>
            <td data-th="Supplier Code" >
              <div class="d-flex align-items-center">
                <img
                    src="{% static 'website/images/user-image-with-black-background.png' %}"
                    alt=""
                    style="padding-left: 10px; width: 45px; height: 40px"
                    class="rounded-circle"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">  الاسم : {{i.name}} </p>
                  <p class="text-muted mb-0">الرقم الوظيفي:  {{i.employee_number}}</p>
                </div>
              </div>
            </td>
            <td data-th="Supplier Code">
              <p class="fw-normal mb-1"> الوظيفة : {{i.job_title}}</p>
              <p class="text-muted mb-0"> مكان العمل : {{i.work_place}}</p>
            </td>
            <td data-th="Supplier Code">
              {% if i.mulirty_classfication %}
              <p class="fw-normal mb-1"> الرتبة : {{i.mulirty_classfication}}</p>
              {% elif i.non_mulirty_classfication %}
              <p class="fw-normal mb-1"> المرتبة : {{i.non_mulirty_classfication}}</p>
              {%endif%}
            </td>
           
            <td data-th="Supplier Code">
                <a href="{% url 'main:show-assigend' i.id %}"><button style="background-color: #A38A00; color: #333;" type="button" class="btn">ادارة</button></a>
    
             
            </td>
           
          
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    



</div>

</div>

<script>
  {% if messages %}
  {% for i in messages %}

  Swal.fire({
 
 icon: 'success',
 title: '{{i}}',
 showConfirmButton: false,
 timer: 1500
})
  
     
{% endfor %}
{% endif %}
  
</script>
<br>
<br>
<br>

{% endblock %}