{% extends 'main/base.html' %}


{% block content %}
<div class="container-fluid">
    <br>
     
     
   
     <div style="text-align: center;" >
     <h4 >جميع الانتدابات للموظف {{for_emp.name}}</h4>
     <span class="badge bg-warning text-dark"> {{counter}}  مجموع أيـام الانتدابات </span>
         
     </div>
     <br>
   
     
     <table   dir="rtl" class="rwd-table">
       
       <tbody dir="rtl">
         <tr >
           <th>نوع الانتداب </th>
           <th>موقع الانتداب </th>
           <th>تاريخ البداية</th>
           <th>تاريخ النهاية</th>
           <th> الحالة</th>
           <th>حذف </th>
          
         </tr>
   
        
           {% for i in all_mandates_for_emp %}
           <form id="delete-form" method="post" action="{% url 'main:delete-mandate' i.id %}">
            {% csrf_token %}
            <input type="hidden" name="object_id" >
            <input type="hidden" name="action" value="delete">
          </form>
          <tr>
           <td  data-th="Supplier Code">
             {{i.mandate_place}}
           </td>
           {% if i.mandate_type == 'inside' %}
           <td data-th="Invoice Number">
             داخلي
           </td>
           {% else %}
           <td data-th="Invoice Date">
             خارجي
           </td>
           {% endif %}
           <td data-th="Net Amount">
               {{i.starthijridate}}هـ
           </td>
           <td data-th="Net Amount">
               {{i.endhijridate}}هـ
           </td>
           <td data-th="Net Amount">
            <span style="padding-left: 20px; font-size: 0.9em;" class="badge bg-success ">   مكـتـمل  </span>
           </td>
           <td data-th="Net Amount">
            <button class="btn btn-outline-danger btn-sm" onclick="confirmDelete()">حذف</button>
        </td>
           {% endfor %}  
           </tr>
           </tbody>
           </table>
           

           </div>
           {% block footer %}
           {% endblock %}
           
           <script>
            function confirmDelete() {
                Swal.fire({
                    title: 'تأكيد عملية الحذف ؟',
                    text: `تنبيه
                    لا يمكن استعادة البيانات بعد الحذف !!.`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'تأكيد الحذف',
                    cancelButtonText: 'تراجع',
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('delete-form').submit();
                    }
                })
            }
            </script>
          <script>
            {% if messages %}
            {% for i in messages %}
          
            Swal.fire({
       
        icon: 'success',
        title: '{{i}}',
        showConfirmButton: false,
        timer: 1500
      })
            
               
          {% endfor %}
          {% endif %}
            
          </script>
{% endblock %}
