{% extends 'main/base.html' %}
{% load static %}
{% block style %}
<link href="{% static 'website/css/style.css' %}" rel="stylesheet">
<link href="{% static 'website/css/bootstrap-icons.css' %}" rel="stylesheet">
<style>
 .container{
    display: grid;
    grid-template-columns:1.5fr 1fr 1fr ;
    grid-template-rows: repeat(3,1fr) ;
    gap: 1rem;
    height: 500px;
}
.container > div{
  
    border-radius: 10px;
    padding: 1rem;
}
.container .nav{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    border-radius: 10px 10px 3px 10px;
}
.container .nav >*{
    height: fit-content;
    cursor: pointer;
}
.container .nav h3{
    margin-left: 1rem;
}
.container .nav p{
    font-size: 15px;
}
.container .nav > p:hover{
    text-decoration: underline;
}
.container .nav .alarm-box{
    position: relative;
    transition: all .2s;
}
.container .nav .alarm-box:hover{
    transform: translateY(1px);
}
.container .nav .alarm-box >span{
    position: absolute;
    background-color: #333;
    color: #f4f4f4;
    border-radius: 50%;
    text-align: center;
    min-width: 16px;
    min-height: 16px;
    top: -10px;
    right: 11px;
    font-size: .8em;
    padding: 0 2px;
    box-shadow: 0 0 0 2.5px #f4f4f4;
}
.container .nav .alarm-box >i{
    font-size: 25px;
    color: #333;
    padding: 0 1rem;
    transition: all .2s;
}
.container .nav .alarm-box a  >i:hover{
    color: #b3920d;
}
.container .nav .segment-box{
    display: flex;
    gap: .5rem;
   
    padding: 0.2rem;
    border-radius: 6px;
    color: #f4f4f4;
    transition: all .2s;
}
.container .nav .segment-box:hover{
    background-color: #b3920d;
}
.container .nav .segment-box i{
    font-size: 20px;
    color: #f4f4f4;
}
.container .nav img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
    transition: all .3s;
}
.container .nav img:hover{
    box-shadow: 0 0 0 3px #2f5ab6;
}
.container .nav .segment-box{
    margin-left: auto;
}


.container .upgrade{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 3px 10px;
}
.container .upgrade i{
    font-size: 120px;
    color: #2f5ab6;
    margin-bottom: 4rem;
}
.container .upgrade h4{
    line-height: 1.2;
    text-align: center;
    margin-bottom: 2rem;
}
.container .upgrade h4 span{
    color: #2f5ab6;
}
.container .upgrade button{
    border: none;
    background-color: #198754;
    color: #f4f4f4;
    padding: 1rem 5rem;
    border-radius: 99999px;
    cursor: pointer;
    letter-spacing: .6px;
    font-size: 17px;
    font-weight: 500;
    transition: all .3s;
}
.container .upgrade button:hover{
    background-color: #b3920d;
    color: #f4f4f4;
}


.container .users >img , .container .newUsers >img{
    width: 700px;
    height: 400px;
    border-radius: 6px;
    margin-top: 1rem;
}
.container .performance {
    grid-column: span 2;
    border-radius: 10px 3px 10px 10px;
}
.container .performance .percentages{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    position: relative;
}
.container .performance .percentages .direct, .container .performance .percentages .Social, .container .performance .percentages .Organic{
    position: relative;
}
.container .performance .percentages span{
    width: 10px;
    height: 10px;
    background-color: #990c0cbd;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}
.container .performance .percentages .Social > span {
    background-color: #210c99bd;
}
.container .performance .percentages .Organic > span {
    background-color: #55990cbd;
}

.container .performance .percentages .direct:before, .container .performance .percentages .Social:before, .container .performance .percentages .Organic:before {
    content: '';
    position: absolute;
    width: 90%;
    height: 12px;
    background-color: #990c0cbd;
    top: 30px;
    left: -23%;
    border-radius: 0 999999px 0px 0;
    opacity: 0.8;
}
.container .performance .percentages .Social:before{
    background-color: #272727bd;
    width: 110%;
}
.container .performance .percentages .Organic:before{
    background-color: #55990cbd;
    width: 150%;
}
.chart-container-man {
 
}

@keyframes progress {
  0% { --percentage: 0; }
  100% { --percentage: var(--value); }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #191970;
  --secondary: rgb(224, 230, 234);
  --size: 150px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}





</style>

{% endblock %}

{% block content %}
     
<form id="delete-form" method="post" action="{% url 'main:delete' assigend_emp.id %}">
  {% csrf_token %}
  <input type="hidden" name="object_id" >
  <input type="hidden" name="action" value="delete">
</form>

<div style="margin-top: 20px;" class="container">
  <div class="nav">
      <h3>  {{assigend_emp.preRank}} : {{assigend_emp.name}}  <i style="color: #b3920d; font-size: 28px;" class="fa-solid fa-id-card"></i></h3>
      
      
      
      <div class="segment-box">
        
          
      </div>
      <div class="alarm-box">
        
        <a style="color: #333;" href="{% url 'main:show-course-mandate-emp' assigend_emp.id %}"><i class="fa fa-clipboard-list"></i></a>
        
        <p>عرض الأنشطة </p>
    </div>
      <div class="alarm-box">
          
        <a style="color: #333;" href="{% url 'main:add_activity' assigend_emp.id %}"><i   class="fa fa-circle-plus"></i></a>
          <p>  اضافة نشاط</p>
      </div>
      <div class="alarm-box">
        <a style="color: #333;" href="{% url 'main:update' assigend_emp.id %}"><i class="fa fa-pen-to-square"></i></a>
        <p>ادارة بيانات الموظف</p>
      </div>
      
  </div>
  <div class="upgrade">
    <div class="card  mb-3" style="max-width: 18rem;">
      <div class="card-header"> بيانات الموظف </div>
      <div class="card-body ">
        <h6 class="card-title"></h6>
        <ul>
          <li> التخصص :  {{assigend_emp.major}}</li>
          {% if assigend_emp.preRank == 'مدني' %}
          <li> الرتبة :  {{assigend_emp.non_mulirty_classfication}}</li>
          {% else %}
          <li> الرتبة :  {{assigend_emp.mulirty_classfication}}</li>
          {% endif %}
          <li> مقر العمل : {{assigend_emp.work_place}}</li>
          <li>الوظيفة :  {{assigend_emp.job_title}}</li>
          <li> الشهادة :{{assigend_emp.certificate}}</li>
          <li>  جهة التخرج: {{assigend_emp.graduted_from}}</li>
        </ul> 
       <div style="display: flex; justify-content: space-between;" class="whatForEmp">
        <!-- <a  href="{% url 'main:showCourses' assigend_emp.id %}"><span style="  font-size: 13px;" class="badge rounded-pill bg-success"> السجل التدريبي </span></a>
        <a href="{% url 'main:show_mandate' assigend_emp.id %}"><span style="font-size: 13px;" class="badge rounded-pill bg-success"> الانتدابات</span></a> -->
       </div>
      </div>
      
    </div>
      <br>
    <a href="{% url 'main:ForEmpReport' assigend_emp.id %}"><button>طلب تقرير </button></a>
  </div>
  <div class="users">
      <h4>احصائيات الموظف العامة</h4>
      <h2></h2>
      <canvas id="myChart" width="300" height="300"></canvas>
      
        
      
  </div>
  <div class="newUsers">
    <strong>الحد الاعلى من الانتدابات 100 يوم</strong>
    <br>
    <br>
    <div role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="--value: {{assigend_emp.number_of_mandate_days}}"></div>
      
  </div>
  <div class="performance">
      <div class="percentages">
          <div >
            <div class="alarm-box">
        
              <a style="font-size: 15px; text-decoration: none;" class="link-success" href="{% url 'main:showCourses' assigend_emp.id %}"><i class="fa fa-angle-right"></i>الانتقال للسجل التدريبي</a>
              <p></p>
            
          </div>
             
             
          </div>
          <div>
            <div class="alarm-box">
        
              <a style="font-size: 15px; text-decoration: none;" class="link-success" href="{% url 'main:show_mandate' assigend_emp.id %}"><i class="fa fa-angle-right"></i>الانتقال للانتدابات</a>
              <p></p>
            
          </div>
       
              
          </div>
         
      </div>
  </div>
</div>







<!-- <section >
    
   
    
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-start align-items-center">
                <img style="padding-left: 10px; width: 55px; height: 45px" class="rounded-circle shadow-1-strong me-3"
                  src="{% static 'website/images/user-image-with-black-background.png' %}" alt="avatar" width="60"
                  height="60" />
                <div>
                  <h6 class="fw-bold text-success mb-1">{{assigend_emp.rank}} : {{assigend_emp.name}}</h6>
                  <p class="text-muted small mb-0">
                     <strong> الرقم الوظيفي: {{assigend_emp.employee_number}}</strong>
                  </p>
                </div>
              </div>
              <br>
              <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header"> بيانات الموظف </div>
                <div class="card-body text-success">
                  <h6 class="card-title"></h6>
                  <ul>
                    <li> التخصص :  {{assigend_emp.major}}</li>
                    <li> مقر العمل : {{assigend_emp.work_place}}</li>
                    <li>الوظيفة :  {{assigend_emp.job_title}}</li>
                    <li> الشهادة :{{assigend_emp.certificate}}</li>
                    <li>  جهة التخرج: {{assigend_emp.graduted_from}}</li>
                  </ul> 
                 <div style="display: flex; justify-content: space-between;" class="whatForEmp">
                  <a  href="{% url 'main:showCourses' assigend_emp.id %}"><span style="  font-size: 13px;" class="badge rounded-pill bg-success"> السجل التدريبي </span></a>
                  <a href="{% url 'main:show_mandate' assigend_emp.id %}"><span style="font-size: 13px;" class="badge rounded-pill bg-success"> الانتدابات</span></a>
                 </div>
                </div>
                
              </div>
              
          

      
             
  
              <div class="small d-flex justify-content-start">
                
               
                
              </div>
            </div>
            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
             
              <div class="d-flex flex-start w-100">
                
                
              </div>
             
              <div class="float-end mt-2 pt-1">
                <a href="{% url 'main:update' assigend_emp.id %}"><button type="button" class="btn btn-outline-primary btn-sm"> تعديل بيانات الموظف</button></a>
               
                
                <a  href="#"><button onclick="confirmDelete()"  type="button" class="btn btn-outline-danger btn-sm">حذف الموظف</button></a>
           
                <a href="{% url 'main:show-course-mandate-emp' assigend_emp.id %}"><button type="button" class="btn btn-success btn-sm">عرض انشطة الموظف</button></a>
              </div>
             
            </div>
           
          </div>
          
        </div>
      </div>
    </div>
  </section> -->
  <!-- <a href="{% url 'main:update' assigend_emp.id %}"><button type="button" class="btn btn-outline-primary btn-sm"> تعديل بيانات الموظف</button></a> -->
  {% block footer %}
  {% endblock %}
  <script src="{% static 'website/js/chart.js' %}"></script>

  <script>
    var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: {{ labels|safe }},
        datasets: [{
            label: '',
            data: {{ data|safe }},
            backgroundColor: [
                '#333',
                '#b3920d',
                '#198754'
            ]
        }]
    },
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function (tooltipItems, data) {
                       return data.labels[tooltipItems.index] + data.datasets[tooltipItems.datasetIndex].label + ' : ' + '' + data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index];
        }

      }
    },
    legend: {
      position: 'bottom'
    }
  }
});
  </script>
  <script>
    const PLATFORMS = ["Mobile Devices", "Tablets", "Desktops"];
const COLORS = ['#e74c3c', '#3498db', '#2ecc71'];
const HOVERCOLORS = ['rgb(231 76 60 / 83%)', 'rgb(52 152 219 / 83%)', 'rgb(46 204 113 / 83%)'];

const data = {
  labels: PLATFORMS,
  datasets: [{
    label: "Devices data",
    backgroundColor: COLORS,
    borderWidth: 0,
    hoverBackgroundColor: HOVERCOLORS,
    data: [40, 20, 20],
  }]
};

const options = {
  maintainAspectRatio: false,
  plugins: {
      title: {
        display: true,
        text: 'Platforms used by customers for browsing',
        font: {
          size: 24 
        },
      },
    legend: {
        position: 'right',
        labels: {
          usePointStyle: true,
          boxWidth: 20, 
          padding: 20 
        }
      },
    tooltip: {
        callbacks: {
          label: (context) => {
            const label = context.label || '';
            const value = context.parsed || 0;
            const total = context.dataset.data.reduce((a, b) => a + b, 0);
            const percentage = total > 0 ? Math.round((value / total) * 100) : 0;
            return `${label}: ${percentage}%`;
          }
        }
      },
    },
  layout: {
      padding: {
        top: 20,
        left: 30,
        right: 30,
        bottom: 20
      }
    },
};

new Chart('chartMan', {
  type: 'doughnut',
  options: options,
  data: data
});
    </script>
  <script>
    {% if messages %}
    {% for i in messages %}
  
    Swal.fire({
  
  icon: 'success',
  title: '{{i}}',
  showConfirmButton: false,
  timer: 1500
})
    
       
  {% endfor %}
  {% endif %}
    
  </script>
  
{% endblock %}