{% extends 'main/base.html' %}
{% load static %}

{% block content %}


<div style="text-align: center;" >
  <h4 >   احصائيات الانتدابات  </h4>
 
  <!-- <div style="margin-top: 30px;" class="row">
    <div class="col">
      <span class="badge bg-light text-dark " style=" font-size: 16px; align-items: center; text-align: center; margin-right: 10px;">موظفين بدون انتدابات</span>

      <table   dir="rtl" class="rwd-table">
       
        <tbody dir="rtl">
          <tr >
            <th>اسم الموظف  </th>
            <th> الرقم الوظيفي </th>
          </tr>
    
         
           {% for i in page_obj_zero %}
           <tr>
            <td  data-th="Supplier Code">
              {{i.name}}
            </td>
            <td data-th="Invoice Number">
              {{i.employee_number}}
            </td>
             {% endfor %}
            </tr>
            </tbody>
            
           
            </table>
            <div style="margin-right: 290px;" class="pagination">
              <span class="step-links">
                  {% if page_obj_zero.has_previous %}
                      <a href="?page=1">&laquo; الأولى</a>
                      <a href="?page={{ page_obj_zero.previous_page_number }}">السابق</a>
                  {% endif %}

                  <span class="current-page">
                      الصفحه {{ page_obj_zero.number }} من {{ page_obj_zero.paginator.num_pages }}
                  </span>

                  {% if page_obj_zero.has_next %}
                      <a href="?page={{ page_obj_zero.next_page_number }}">التالي</a>
                      <a href="?page={{ page_obj_zero.paginator.num_pages }}">الأخيرة &raquo;</a>
                  {% endif %}
              </span>
            </div>

    </div>
    <div  class="col">
      <span class="badge bg-light text-dark " style=" font-size: 16px; align-items: center; text-align: center; margin-right: 10px;"> بلغوا الحد الأعلى من عدد الايام</span>

      <table   dir="rtl" class="rwd-table">
       
        <tbody dir="rtl">
          <tr >
            <th>اسم الموظف  </th>
            <th> الرقم الوظيفي </th>
          </tr>
    
         
           {% for i in all_employee %}
           {% if i.number_of_mandate_days > 60 %}
           <tr>
            <td  data-th="Supplier Code">
              {{i.name}}
            </td>
            <td data-th="Invoice Number">
              {{i.employee_number}}
            </td>
            {% endif %}
             {% endfor %}
            </tr>
            </tbody>
            </table>
    </div>
  </div>

  
  
  </div> -->
  <div style="  position: relative;
    max-width: 500px;
    margin: auto;" >
    <canvas id="chart_0"></canvas>
</div>

  <div style="margin: 90px;" dir="rtl" class="row">
    <div class="col-6 col-md-4"> <span class="badge bg-light text-dark " style=" font-size: 16px; align-items: center; text-align: center; margin-right: 90px;">   أكثر من 50 يوم في عدد ايام النتدابات </span>  <canvas height="60vh" width="80vw" id="pie-chart-top"></canvas></div>
    <div class="col-6 col-md-4"><span class="badge bg-light text-dark " style=" font-size: 16px; align-items: center; text-align: center; margin-right: 90px;">    موظفين عدد ايام انتداباتهم اقل من 10 ايام   </span><canvas height="60vh" width="80vw" id="pie-chart-low"></canvas></div>
    
      <div class="col-6 col-md-4"><span class="badge bg-light text-dark " style=" font-size: 16px; align-items: center; text-align: center; margin-right: 90px;"> عدد الانتدابات من كامل الأنشطة </span><canvas height="60vh" width="80vw" id="pie-chart-count"></canvas></div>

      
            
 
            </div>
      </div>
    </div>
  </div>
 

 

{% block footer %}

{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  var data = {
  labels: ["1440","1441","1442","1443", "1444", "1445", "1446", "1447", "1448", "1449" , "1450"],
  datasets: [{
    label: "عدد الانتدابات سنويا",
    backgroundColor: "#A38A00",
    borderColor: "#A38A00",
    borderWidth: 2,
    hoverBackgroundColor: "#097969",
    hoverBorderColor: "#097969",
    data: [100, 200, 30, 0],
  }]
};

var option = {
  scales: {
    yAxes: [{
      stacked: true,
      gridLines: {
        display: true,
        color: "#097969"
      }
    }],
    xAxes: [{
      gridLines: {
        display: false
      }
    }]
  }
};

Chart.Bar('chart_0', {
  options: option,
  data: data
});

</script>

<script>
    var configZero = {
    type: 'pie',
    data: {
      datasets: [{
        data: {{ data|safe }},
        backgroundColor: [
          '#93dd9c', '#2e5456', '#A9A9A9', '#C0C0C0', '#D3D3D3'
        ],
        label: 'Population'
      }],
      labels: {{ labels|safe }}
    },
    options: {
      responsive: true
    }
  };
    var config = {
    type: 'pie',
    data: {
      datasets: [{
        data: {{ dataLow|safe }},
        backgroundColor: [
          '#ffff33', '#ffbf00', '#A9A9A9', '#C0C0C0', '#D3D3D3'
        ],
        label: 'Population'
      }],
      labels: {{ labelsLow|safe }}
    },
    options: {
      responsive: true
    }
  };
    var total_mandate = {
    type: 'pie',
    data: {
      datasets: [{
        data: {{ dateForEachActivitCount|safe }},
        backgroundColor: [
          '#A9A9A9', '#ff4d4d', '#b30000', '#C0C0C0', '#D3D3D3'
        ],
        label: 'Population'
      }],
      labels: {{ labelsForActivityName|safe }}
    },
    options: {
      responsive: true
    }
  };
 

  window.onload = function() {
    var ctx = document.getElementById('pie-chart-top').getContext('2d');
    var ctxOne = document.getElementById('pie-chart-low').getContext('2d'); 
    var ctxCount = document.getElementById('pie-chart-count').getContext('2d');
     
    window.myPieZero = new Chart(ctx, configZero);
    window.myPieone = new Chart(ctxOne, config);
    window.myPietwo = new Chart(ctxCount, total_mandate);
  };


</script>
 
  {% endblock %}